index.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Post Card Responsive
    link(rel="stylesheet", href="assets/css/index.css")
    <link href="https://fonts.googleapis.com/css?family=Signika:300,400&display=swap" rel="stylesheet">
  body
    .blog-post
      .blog-post__img
        img(src="http://via.placeholder.com/550x350", alt="")
      .blog-post__info
        .blog-post__date
          span Lorem, ipsum 
          span october 08 2019
        h1.blog-post__title Lorem, ipsum
        p.blog-post__text
          |Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum magni quae minima quo asperiores eum sit illum cumque expedita eos neque quia, necessitatibus sint sunt doloremque ut quaerat eius corporis ea. Numquam libero aliquid, rerum animi blanditiis nemo tempore?
        a.blog-post__cta(href="#") Lire plus

index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Post Card Responsive</title>
    <link rel="stylesheet" href="assets/css/index.css"/><link href="https://fonts.googleapis.com/css?family=Signika:300,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="blog-post">
      <div class="blog-post__img"><img src="http://via.placeholder.com/550x350" alt=""/></div>
      <div class="blog-post__info">
        <div class="blog-post__date"><span>Lorem, ipsum </span><span>october 08 2019</span></div>
        <h1 class="blog-post__title">Lorem, ipsum</h1>
        <p class="blog-post__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum magni quae minima quo asperiores eum sit illum cumque expedita eos neque quia, necessitatibus sint sunt doloremque ut quaerat eius corporis ea. Numquam libero aliquid, rerum animi blanditiis nemo tempore?</p><a class="blog-post__cta" href="#">Lire plus</a>
      </div>
    </div>
  </body>
</html>
